apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api
spec:
  selector:
    matchLabels:
      app: demo-api
  replicas: 2
  template:
    metadata:
      labels:
        app: demo-api
    specs:
      containers:
      - name: demo-api
        image: bettmensch88/argo-cd-demo-api:development-4ae9499450bb3566fa8d58cc09b8a1c2a9884388
        ports:
        - containerPort: 8000