--- 
apiVersion: apps/v1
kind: Deployment
metadata: 
  labels: 
    app: demo-api
  name: demo-api-deployment
spec: 
  replicas: 2
  selector: 
    matchLabels: 
      app: demo-api
  template: 
    metadata: 
      labels: 
        app: demo-api
    specs: 
      containers: 
        - 
          image: "bettmensch88/argo-cd-demo-api:development-4ae9499450bb3566fa8d58cc09b8a1c2a9884388"
          name: demo-api
          ports: 
            - 
              containerPort: 8000
