apiVersion: apps/v1
kind: Deployment
metadata: 
  labels: 
    app: demo-api
  name: demo-api-deployment
spec: 
  replicas: 2
  selector: 
    matchLabels: 
      app: {{ .Values.name }}
  template: 
    metadata: 
      labels: 
        app: {{ .Values.name }}
    spec: 
      containers: 
      - name: {{ .Values.name }}
        image: {{ .Values.deployment.image }}:{{ .Values.deployment.tag }}
        ports: 
        - containerPort: 8000
